.header {
  height: 70px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.logo-container {
  height: 100%;
  width: 70px;
  padding: 25px;
}

.options {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option {
  padding: 10px 15px;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  background-color: bisque;
}

.header-container-wrapper{
  display: flex;
  width: 15%;
  justify-content: space-evenly;
}

.header-log-wrapper {
  display: flex;
  width: 5%;
}
