body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(rgb(247, 173, 16), rgb(240, 216, 3)); */
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQjEKpRRX1WwmNwg5fAim7o1GX-skBTj4fhAHv7DIR4w75fGOKB');
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
